.btn
    @include btn-reset 
    @include row-component
    @include hover
    flex-grow: 0
    display: block
    box-sizing: border-box
    padding: 12px
    min-width: 219px
    text-align: center
    font-family: $font-alt
    font-weight: 700
    font-size: 16px
    line-height: 25px
    color: #fff
    cursor: pointer
    border: 2px solid #fff 
    border-radius: 27px

    .icon 
        margin-left: 4px

        img 
            display: block