.form 
    
    &__label 
        position: relative
        padding-left: 30px
        font-family: $font-alt
        font-size: 16px
        line-height: 18px
        color: #fff
        cursor: pointer

        @media (max-width: 1280px)
            display: block
            margin-bottom: 20px
            color: $textColor

        &:before 
            content: ""
            position: absolute
            top: 0
            left: 0
            width: 16px
            height: 16px
            border: 1px dotted #fff
            border-radius: 50%

            @media (max-width: 1280px)
                border-color: $textColor

        &:after 
            content: ""
            position: absolute
            top: 3px
            left: 0
            width: 18px
            height: 14px
            background-image: url("../images/svg/check.svg")
            background-repeat: no-repeat 
            background-size: contain
            background-position: center
            opacity: 0
            transition: opacity 0.3s ease

            @media (max-width: 1280px)
                background-image: url("../images/svg/check-b.svg")

    input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before
        border-style: solid

    input[type="checkbox"]:checked + label:after, input[type="radio"]:checked + label:after
        opacity: 1