.intro 
    text-align: center
    color: $blue-d

    .fp-scrollable,
    .fp-scroller
        height: 100%

    .fp-scroller
        display: flex 
        flex-direction: column

    &__wrapper 
        flex-grow: 1
        display: flex 
        flex-direction: column 
        justify-content: flex-end

    &__bg 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        display: flex 
        align-items: center
        justify-content: flex-start
        background-image: url("../images/illustration.jpg")
        background-repeat: no-repeat 
        background-size: cover 
        background-position: bottom center

        @media (max-width: $screenXS)
            top: 0
            bottom: 0
            left: 0
            right: 0
            background-image: url("../images/illustration-m.jpg")

    &__img 
        position: relative
        flex: none
        padding-top: 125.51%
        width: 24.8%
        overflow: hidden

        img 
            position: absolute
            top: 0
            left: 0
            right: 0
            display: block
            width: 100%
            height: auto

    &__content
        position: relative
        padding-bottom: 129px
        z-index: 1

        @media (max-width: $screenXS)
            padding-bottom: 150px

        @media (max-width: $screenXXS)
            padding-bottom: 75px

    &__label 
        margin: 0 0 12px
        font-size: 13px
        line-height: 1
        text-transform: uppercase
        color: #425460
        opacity: .51
        letter-spacing: 2px

        @media (max-width: $screenXS)
            font-size: 18px
            line-height: 32px

        @media (max-width: $screenXXS)
            font-size: 9px
            line-height: 16px

    &__title 
        margin: 0 0 20px
        color: #0058ba
        font-style: italic 
        font-size: 9rem
        line-height: 10rem
        text-transform: uppercase

        .gray 
            color: #474346

        @media (min-width: 1400px)
            font-size: 90px
            line-height: 100px

        @media (max-width: $screenXS)
            font-size: 21.45rem
            line-height: 21.45rem

            .gray 
                display: block

    &__text 
        margin: 0 auto 
        max-width: 550px
        font-family: $font-alt
        font-size: 15px
        line-height: 23px
        color: #425460

        @media (max-width: $screenXS)
            font-size: 24px
            line-height: 32px

        @media (max-width: $screenXXS)
            font-size: 12px
            line-height: 16px
