.news 
    position: relative

    &__wrapper 
        display: flex 
        flex-direction: column 
        align-items: center
        padding-bottom: 60px
        max-width: 100%

        @media (max-width: $screenXS)
            padding: 0 55px 20px

        @media (max-width: $screenXXS)
            padding: 0 20px 20px

    &__title 
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: 75px 0 0
        text-align: center
        text-transform: uppercase
        font-style: italic
        font-size: 12.135rem
        line-height: 13rem
        color: rgba(255, 255, 255, 0.27)

        .gray 
            color: rgba(71, 67, 70, 0.4)

        @media (min-width: 1400px)
            font-size: 121.35px
            line-height: 130px

        @media (max-width: 1280px)
            margin-top: 170px
            font-size: 18rem
            line-height: 19rem

        @media (max-width: 480px)
            margin-top: 105px

    &__body
        position: relative
        margin-bottom: 40px

.news-list 
    display: flex
    flex-wrap: wrap
    max-width: 100%

    &.popup__body
        position: relative
        z-index: 11
        padding: 0 13px 0 29px

        @media (max-width: 780px)
            padding: 0

    &__item 
        flex: none
        margin: 0 16px 25px
        width: calc(25% - 32px)

        @media (max-width: 1280px) 
            width: calc(33.333333% - 32px)

        @media (max-width: 1024px) 
            width: calc(50% - 32px)

        @media (max-width: 780px)
            width: calc(100% - 32px)

        @media (max-width: 640px)
            margin-left: 0
            margin-right: 0
            width: 100%

.news-card
    background-color: #fff
    transform: scale(1)
    transition: transform .3s ease-in-out

    &:hover
        transform: scale(1.1)

    &__image 
        position: relative
        display: block
        padding-top: 62.126%
        width: 100%
        overflow: hidden
        background-repeat: no-repeat
        background-position: center
        background-size: cover

        img
            position: absolute
            top: 0
            left: 0
            right: 0
            width: 100%
            height: auto

    &__body 
        box-sizing: border-box
        padding: 15px 20px 20px
        min-height: 203px
        background-color: #fff

        @media (max-width: $screenXS)
            padding: 25px 42px 30px

        @media (max-width: $screenXXS)
            padding: 13px 21px 15px

    &__date 
        margin: 0 0 8px 
        font-style: italic 
        font-size: 12px
        line-height: 18px
        color: #8c8c8c

        @media (max-width: $screenXS)
            font-size: 21px
            line-height: 30px

        @media (max-width: $screenXXS)
            font-size: 11px
            line-height: 15px

    &__title 
        margin: 0 0 6px 0
        font-size: 18px
        line-height: 24px

        @media (max-width: $screenXS)
            font-size: 31px
            line-height: 42px

        @media (max-width: $screenXXS)
            font-size: 16px
            line-height: 22px

        a 
            color: $textColor

    &__text 
        margin: 0
        max-height: 66px
        font-size: 16px
        line-height: 22px
        overflow: hidden
        text-overflow: ellipsis

        @media (max-width: $screenXS)
            font-size: 28px
            line-height: 38px
            max-height: 114px

        @media (max-width: $screenXXS)
            font-size: 14px
            line-height: 19px
            max-height: 57px

    &._upload 
        display: flex 
        flex-direction: column 
        justify-content: center
        align-items: center
        text-align: center

        @media (max-width: 780px) 
            display: none !important
