.popup
    position: fixed
    top: 0
    left: 0
    right: -40px
    bottom: 0
    padding-right: 40px
    background-color: rgba(0,0,0, 0.4)
    z-index: -1
    opacity: 0
    pointer-events: none
    transition: opacity 0.3s ease
    overflow-y: scroll

    @media (max-width: 768px)
        right: 0
        padding-right: 0

    @media (max-width: $screenXXS)
        bottom: auto
        max-height: 100vh

    &.show 
        opacity: 1
        pointer-events: auto
        z-index: 1000


    &__inner 
        display: flex 
        flex-direction: column 
        align-items: center
        margin: auto
        max-width: 100%

        @media (max-width: 1280px) 
            margin-right: 0

    &__close 
        @include btn-reset
        @include hover
        position: fixed
        top: 42px
        right: 58px
        width: 20px
        height: 20px
        z-index: 1001

        svg 
            display: block
            width: 100%
            height: 100%
            fill: #fff

        @media (max-width: 768px)
            transform: none
            top: 33px
            right: 27px
            width: 52px
            height: 52px
            background-color: #fff
            border-radius: 50%

            svg
                @include center
                width: 20px
                height: 20px
                fill: #000

        @media (max-width: $screenXXS)
            top: 20px
            right: 20px
            width: 26px
            height: 26px

            svg
                width: 12px
                height: 12px

    &__label 
        margin: 38px auto 28px
        text-align: center
        font-weight: 700
        font-size: 22px
        line-height: 38px
        color: #fff

.popup-slider-wrapper
    position: relative
    width: 100%

    @media (max-width: 768px)
        border: 6px solid #fff
        box-sizing: border-box

    .swiper-button-prev,
    .swiper-button-next 
        @include btn-reset
        width: 18px
        height: 20px
        background-image: none
        position: fixed

        @media (max-width: 768px) 
            opacity: 0
            pointer-events: none

        svg 
            display: block
            fill: #fff

    .swiper-button-prev
        left: 47px
        transform: rotate(90deg)

    .swiper-button-next
        right: 47px
        transform: rotate(-90deg)

.popup-slider
    margin-left: auto
    margin-right: auto
    width: 700px
    background-color: #fff

    @media (max-width: 768px) 
        margin-top: 0
        max-width: 100%

.popup-slide 

    &__body 
        box-sizing: border-box
        padding: 20px 70px 0

        @media (max-width: 480px)
            padding: 20px 20px 0

        a
            color: #0049af
            word-wrap: break-word

    &__footer 
        display: flex
        align-items: center
        box-sizing: border-box
        padding: 0 70px 35px

        @media (max-width: 480px) 
            padding: 0 20px 35px
            flex-direction: column
            align-items: flex-start

    &__date 
        font-style: italic
        font-size: 14.72px
        line-height: 22px
        color: #8c8c8c

    &__title 
        margin: 0 0 13px 
        font-size: 22px
        line-height: 29px

        a 
            color: $textColor

    &__text 
        margin: 0 0 20px
        font-size: 18px
        line-height: 24px

    &__link 
        @include row-component
        @include hover
        font-weight: 700
        font-size: 17px
        line-height: 28px
        color: $textColor

        @media (max-width: 480px)
            margin-bottom: 20px

        .icon 
            display: block
            margin-left: 15px

            svg
                display: block
                transform: rotate(-90deg)
                fill: #0049af