.scroll-link
    @include centerH
    @include hover
    bottom: 42px
    display: block
    width: 52px
    height: 52px
    border-radius: 50%
    border: 1px solid #bebcbb
    z-index: 1

    svg 
        @include center 
        display: block
        fill: #1c69bf
        animation: scroll 1s linear infinite

    @media (max-width: $screenXS)
        width: 70px
        height: 70px

        svg
            width: 22px
            height: 24px

    @media (max-width: $screenXXS)
        bottom: 20px
        width: 36px
        height: 36px

        svg
            width: 11px
            height: 12px

@keyframes scroll
    0%
        margin-top: 0

    25%
        margin-top: -2px

    50%
        margin-top: 0

    75%
        margin-top: 2px

    100%
        margin-top: 0
