.section
    position: relative
    display: flex
    flex-direction: column
    background-color: $blue-l
    background-image: $grad
    border: 5px solid #fff

    &__wrapper 
        box-sizing: border-box
        margin: 0 auto
        padding: 0 29px
        width: 100%
        max-width: 1390px

        @media (max-width: 480px)
            padding-left: 12px
            padding-right: 12px

    // .fp-scrollable,
    // .fp-scroller
    //     min-height: 100%

    // .fp-scroller
    //     display: flex 
    //     flex-direction: column 


    &.blur 
        border: none

        .section__wrapper 
            filter: blur(20px)
