.share 
    margin-left: auto

    @media (max-width: 480px)
        margin-left: 0

    &._header 
        position: absolute
        top: 15px
        right: 55px
        margin: 0
        opacity: 0
        pointer-events: none
        transition: opacity 0.3s ease

        @media (max-width: 780px)
            top: 15px
            right: 55px

        ._dark &
            @media (max-width: 780px)
                top: 17px
                right: 60px

        @media (max-width: 640px)
            right: 28px
            top: 4px

            .ya-share2

                &__item
                    margin-right: 10px

                &__link
                    width: 36px
                    height: 36px

            ._dark &
                top: 80px
                right: 20px

                .ya-share2

                    &__list
                        flex-direction: column
                        margin-right: 0

                    &__item
                        margin-right: 0
                        margin-bottom: 15px

                    &__link
                        width: 40px
                        height: 40px

        @media (max-width: 640px)
            ._dark &
                top: 60px
                right: 8px

        &.show,
        &:hover
            opacity: 1
            pointer-events: initial

.page-header._dark
    .ya-share2
        &__item
            border-radius: 50%
            background-color: #fff

.ya-share2

    &__list
        @include list-reset
        display: flex
        margin: 0 15px

        @media (max-width: 480px)
            margin-left: 0

    &__item
        margin: 0 12px
        font-size: 0
        background-repeat: no-repeat 
        background-position: center
        border-radius: 50%

        @media (max-width: 480px)
            margin: 0
            margin-right: 24px

        &:hover
            background-color: #e3e3e3 !important

        &_service

            &_vkontakte
                background-image: url("../images/svg/vk.svg")
                background-size: 12px 10px

                @media (max-width: $screenXS)
                    background-size: 18px 10px

                @media (max-width: $screenXXS)
                    background-size: 18px 10px

            &_facebook
                background-image: url("../images/svg/fb.svg")
                background-size: 8px 14px

                @media (max-width: $screenXS)
                    background-size: 8px 15px

                @media (max-width: $screenXXS)
                    background-size: 8px 15px

            &_twitter
                background-image: url("../images/svg/tw.svg")
                background-size: 12px 10px

                @media (max-width: $screenXS)
                    background-size: 14px 12px

                @media (max-width: $screenXXS)
                    background-size: 14px 12px

    &__link 
        display: block
        text-decoration: none
        width: 38px
        height: 38px
        border: 1px solid #e3e3e3
        border-radius: 50%

        @media (max-width: 768px)
            width: 50px
            height: 50px

        @media (max-width: 480px)
            width: 40px
            height: 40px

.page-header 
    
    .ya-share2

        &__item 

            &_service

                &_vkontakte
                    background-image: url("../images/svg/vk-w.svg")

                &_facebook
                    background-image: url("../images/svg/fb-w.svg")

                &_twitter
                    background-image: url("../images/svg/tw-w.svg")

        &__link 
            border-color: #e3e3e3

    &._dark 

        .ya-share2

            &__item 

                &_service

                    &_vkontakte
                        background-image: url("../images/svg/vk.svg")

                    &_facebook
                        background-image: url("../images/svg/fb.svg")

                    &_twitter
                        background-image: url("../images/svg/tw.svg")

            &__link 
                border-color: rgba(75, 86, 101, 0.51)