.sorting
    position: relative
    margin: 25px auto 128px
    z-index: 1000

    @media (max-width: 1280px)
        margin-left: 240px
        width: 200px

        &.opened 
            background-color: #fff
            border-radius: 25px 25px 0 0 

            .sorting-form
                max-height: 10000px

            .sorting__label 
                color: #7c8b9a
                border-bottom: 1px solid #d6d6d5

                &:before 
                    margin-top: 4px
                    transform: translateY(-50%) rotate(45deg)
                    border-color: #7c8b9a

                    @media (max-width: $screenXXS)
                        margin-top: 2px

    @media (max-width: 1280px)
        margin-left: auto
        margin-right: auto
        margin-top: 93px
        width: 346px
        border: 2px solid #fff
        border-radius: 32px

    @media (max-width: 780px)
        margin-bottom: 86px

    @media (max-width: $screenXXS)
        margin-bottom: 61px
        margin-top: 55px
        max-width: 100%
        border: 1px solid #fff
        border-radius: 20px
        min-width: 125px
        width: auto

        &.opened
            border-radius: 20px 20px 0 0

    &__label 
        position: relative
        display: none
        margin: 0
        padding: 19px 30px
        padding-left: 90px
        box-sizing: border-box
        width: 100%
        font-family: $font-alt
        font-size: 20px
        line-height: 25px
        color: #fff
        cursor: pointer

        &:before 
            content: ""
            @include centerV 
            margin-top: -4px
            right: 90px
            width: 13px
            height: 13px
            border-top: 2px solid #fff
            border-left: 2px solid #fff
            transform: translateY(-50%) rotate(-135deg)
            pointer-events: none

            @media (max-width: $screenXXS)
                margin-top: -2px
                right: 22px
                width: 8px
                height: 8px
                border-width: 1px

        @media (max-width: 1280px)
            display: block

        @media (max-width: $screenXXS)
            padding: 10px 15px
            font-size: 10px
            line-height: 12px

.sorting-form
    display: flex 
    justify-content: center

    @media (max-width: 1280px)
        position: absolute
        top: 100%
        left: -2px
        right: -2px
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        box-sizing: border-box
        padding: 0
        width: calc(100% + 4px)
        max-height: 0
        background-color: #fff 
        border-radius: 0 0 27px 27px
        overflow: hidden
        box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.21)

        .opened & 
            padding-bottom: 30px

    @media (max-width: $screenXXS)
        left: -1px
        right: -1px
        width: calc(100% + 2px)

        .opened & 
            padding-bottom: 15px

    .form__label 
        margin: 0 22px

        @media (max-width: 1280px)
            font-size: 22px
            line-height: 25px
            color: $blue-d
            margin: 0
            box-sizing: border-box
            padding: 21px 30px
            padding-left: 90px
            width: 100%
            border-bottom: 1px solid #d6d6d5

            &:before 
                left: 45px
                top: 50%
                transform: translateY(-50%)
                width: 22px
                height: 22px


        @media (max-width: $screenXXS)
            font-size: 11px
            line-height: 14px
            padding: 10px 15px
            padding-left: 45px

            &:before
                left: 15px
                width: 12px
                height: 12px

            &:after 
                top: 13px
                left: 14px
                width: 16px
                height: 11px

    input[type="checkbox"]:checked + label, input[type="radio"]:checked + label

        &:before 

            @media (max-width: 1280px)
                border-color: $blue-d

        &:after 

            @media (max-width: 1280px)
                top: 28px
                left: 48px
                background-image: url("../images/svg/check-blue.svg")

            @media (max-width: $screenXXS)
                top: 13px
                left: 14px
