.upload-form

    &__descr 
        margin: 0 auto 
        max-width: 190px
        text-align: center
        font-size: 15.54px
        line-height: 20px
        color: #004f71

.upload-block
    position: relative
    margin: 0 auto 10px
    max-width: 210px

    &:before 
        content: ""
        position: absolute
        top: 4px
        right: 50%
        margin-right: -20px
        width: 10px
        height: 10px
        background-color: #fff
        transform: rotate(45deg)
        z-index: 1

    &__field 
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        max-width: 100%
        opacity: 0
        cursor: pointer

        &:hover + div 
            opacity: 0.7

    &__link 
        text-align: center
        font-weight: 700
        font-size: 21px
        line-height: 24px
        color: #009edd
        transition: opacity 0.3s ease

    &__icon 
        position: relative
        margin-left: auto
        margin-right: auto
        margin-bottom: 22px
        width: 40px
        height: 40px
        border: 2px solid #009edd
        border-radius: 50%

        &:before, 
        &:after 
            content: ""
            @include center
            background-color: #009edd

        &:before 
            width: 17px
            height: 2px

        &:after 
            width: 2px
            height: 17px