// ----------------------------------------------------------------------
    // Sizes
// ----------------------------------------------------------------------
$screenXXL: 1920px;
$screenXL: 1400px;
$screenL: 1280px;
$screenM: 1024px;
$screenS: 900px;
$screenXS: 780px;
$screenXS-s: 600px;
$screenXXS: 640px;
$screenMob: 500px;


// ----------------------------------------------------------------------
    // Colors
// ----------------------------------------------------------------------
$transparent: rgba(255, 255, 255, 0);
$textColor: #000;
$blue-l: #0065c3;
$blue-d: #0048ae;

// ----------------------------------------------------------------------
    // Gradients
// ----------------------------------------------------------------------
$grad: linear-gradient(324deg, $blue-d 0%, $blue-l 100%);
// ----------------------------------------------------------------------
    // Fonts
// ----------------------------------------------------------------------
$font: 'PT Sans', Arial, sans-serif;
$font-alt: 'PT Sans Caption', Arial, sans-serif;
