<section class="section intro" data-anchor="intro">
    //= ../partials/header.html
    <div class="section__wrapper intro__wrapper">
        <div class="intro__bg">
            <div class="intro__img"></div>
            <div class="intro__img"></div>
        </div>
        <div class="intro__content">
            <p class="intro__label">Спецпроект</p>
            <h1 class="intro__title"><span class="gray">#Россия</span>другая</h1>
            <p class="intro__text">Многие новостные издания рисовали картины провала ЧМ 2018 в России, пугали болельщиков медведями на улицах и&nbsp;беспощадными русскими фанатами. Мы собрали негативные и позитивные новости, чтобы показать, как в действительности проходит самое главное футбольное событие года</p>
        </div>
    </div>
    <a href="#news" class="scroll-link menuanchor" data-menuanchor="news">
        <svg width="16" height="18">
            <use xlink:href="#down" />
        </svg>
    </a>
</section>