<section class="section news" data-anchor="news">
    <header class="page-header">
        <div class="page-header__wrapper layout-positioner">
            <a href="#" class="logo">
                <svg width="100" height="17">
                    <use xlink:href="#logo" />
                </svg>
            </a>
            <p class="page-header__label">Спецпроект</p>
            <a href="#" class="page-header__share js-share-trigger">
                <svg width="22" height="20">
                    <use xlink:href="#share" />
                </svg>
            </a>
            <section class="share _header js-share">
                <div class="share-block">
                    <div class="share-block__inner">
                        <div class="ya-share2" data-services="facebook,twitter,vkontakte" data-title="Играют все!" data-description="Прямые трансляции матчей плей-офф для всех гостей ТРК VEGAS. А еще тут отличные скидки на модные вещи для настоящих болельщиков." data-image="http://vegas.championat.com/social.jpg" data-bare></div>
                    </div>
                </div>
            </section>
        </div>
    </header>
    <div class="section__wrapper news__wrapper">
        <div class="news__header sorting">
            <div class="sorting__label js-sorting-label">Сортировать</div>
            <form action="#" method="post" class="sorting-form form">
                <input type="radio" name="sort" id="all" class="visually-hidden" checked>
                <label for="all" class="form__label">Все</label>
                <input type="radio" name="sort" id="fans" class="visually-hidden">
                <label for="fans" class="form__label">Фанаты</label>
                <input type="radio" name="sort" id="hotels" class="visually-hidden">
                <label for="hotels" class="form__label">Гостиницы</label>
                <input type="radio" name="sort" id="stads" class="visually-hidden">
                <label for="stads" class="form__label">Стадионы</label>
                <input type="radio" name="sort" id="police" class="visually-hidden">
                <label for="police" class="form__label">Полиция</label>
                <input type="radio" name="sort" id="food" class="visually-hidden">
                <label for="food" class="form__label">Еда</label>
            </form>
        </div>
        <h1 class="news__title"><span class="gray">#Россия</span>другая</h1>
        <div class="news__body news-list">
            <div class="news-list__item news-card _upload">
                <form action="#" method="post" class="upload-form">
                    <div class="upload-block">
                        <input type="file" id="upload" class="upload-block__field">
                        <div class="upload-block__icon"></div>
                        <div class="upload-block__link">Докажи, что ЧМ 2018 проходит круто!</div>
                    </div>
                    <p class="upload-form__descr">Загрузи фото или видео и&nbsp;поделись впечатлениями</p>
                </form>
            </div>
            <div class="news-list__item news-card js-modal-trigger">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img01.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">14 июня, 22:15</time>
                    <h2 class="news-card__title"><a href="#">Более 12 тыс. болельщиков прошли праздничным карнавалом по Ростову-на-Дону</a></h2>
                    <p class="news-card__text">Это просто фантастика, мы собрались все здесь, чтобы поддержать нашу сборную...</p>
                </div>
            </div>
            <div class="news-list__item news-card js-modal-trigger">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img02.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">12 июня, 20:30</time>
                    <h2 class="news-card__title"><a href="#">Московские полицейские вернули болельщице из Германии потерянный телефон</a></h2>
                    <p class="news-card__text">Сотрудники московской полиции вернули гражданке ФРГ, приехавшей в Москву на ЧМ-2018,</p>
                </div>
            </div>
            <div class="news-list__item news-card js-modal-trigger">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img03.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">12 июня, 20:30</time>
                    <h2 class="news-card__title"><a href="#">Благодаря инновационной системе подогрева футбольного поля — на Лужниках будет натуральный газон</a></h2>
                    <p class="news-card__text">Система сточных вод поможет отвести воду с поля...</p>
                </div>
            </div>
            <div class="news-list__item news-card js-modal-trigger">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img04.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">22 июня, 19:45</time>
                    <h2 class="news-card__title"><a href="#">Главные красавицы 13-го дня чемпионата мира — 2018</a></h2>
                    <p class="news-card__text">Они украсили и без того красивый футбол...</p>
                </div>
            </div>
            <div class="news-list__item news-card js-modal-trigger">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img01.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">14 июня, 22:15</time>
                    <h2 class="news-card__title"><a href="#">Более 12 тыс. болельщиков прошли праздничным карнавалом по Ростову-на-Дону</a></h2>
                    <p class="news-card__text">Это просто фантастика, мы собрались все здесь, чтобы поддержать нашу сборную...</p>
                </div>
            </div>
            <div class="news-list__item news-card js-modal-trigger">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img02.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">12 июня, 20:30</time>
                    <h2 class="news-card__title"><a href="#">Московские полицейские вернули болельщице из Германии потерянный телефон</a></h2>
                    <p class="news-card__text">Сотрудники московской полиции вернули гражданке ФРГ, приехавшей в Москву...,</p>
                </div>
            </div>
            <div class="news-list__item news-card js-modal-trigger">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img03.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">12 июня, 20:30</time>
                    <h2 class="news-card__title"><a href="#">Благодаря инновационной системе подогрева футбольного поля — на Лужниках будет натуральный газон</a></h2>
                    <p class="news-card__text">Система сточных вод поможет отвести воду с поля...</p>
                </div>
            </div>
        </div>
        <a href="#" class="btn news__btn js-more-news">Загрузить еще</a>
    </div>
</section>





