<div class="popup js-modal">
    <button class="popup__close js-close">
        <svg width="20" height="20">
            <use xlink:href="#close" />
        </svg>
    </button>
    <div class="popup__inner">
        <div class="popup-slider-wrapper">
            <div class="popup-slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide popup-slide">
                        <div class="popup-slide__img">
                            <img src="assets/images/img01-big.jpg" width="700" height="312" alt="">
                        </div>
                        <div class="popup-slide__body">
                            <tile class="popup-slide__date">14 июня, 22:15</tile>
                            <h2 class="popup-slide__title"><a href="#">Более 12 тыс. болельщиков прошли праздничным карнавалом по Ростову-на-Дону</a></h2>
                            <p class="popup-slide__text">Это просто фантастика, мы собрались все здесь, чтобы поддержать нашу сборную... что, корейцы тоже здесь? Отважные ребята! Нас тут больше 12 тыс. человек... ну и несколько корейцев. Думаю, счет сегодня будет 4:0 или больше» - сказал болельщик Мексики Хавьер Веласкес.</p>
                            <p class="popup-slide__text">Он добавил, что большая часть болельщиков сборной Мексики, не сумевших приобрести билеты на стадион, все равно приехали в Ростов-на-Дону и будут поддерживать свою команду в фанзоне и местных барах.</p>
                            <a href="#">http://www.extraverylongurlthatdoesntfit.com</a>
                        </div>
                        <div class="popup-slide__footer">
                            <a href="#" class="popup-slide__link">
                                <span class="text">Следующая новость</span>
                                <span class="icon">
                                    <svg width="18" height="20">
                                        <use xlink:href="#down" />
                                    </svg>
                                </span>
                            </a>
                            //= share.html
                        </div>
                    </div>
                    <div class="swiper-slide popup-slide">
                        <div class="popup-slide__img">
                            <img src="assets/images/img01-big.jpg" width="700" height="312" alt="">
                        </div>
                        <div class="popup-slide__body">
                            <tile class="popup-slide__date">14 июня, 22:15</tile>
                            <h2 class="popup-slide__title"><a href="#">Более 12 тыс. болельщиков прошли праздничным карнавалом по Ростову-на-Дону</a></h2>
                            <p class="popup-slide__text">Это просто фантастика, мы собрались все здесь, чтобы поддержать нашу сборную... что, корейцы тоже здесь? Отважные ребята! Нас тут больше 12 тыс. человек... ну и несколько корейцев. Думаю, счет сегодня будет 4:0 или больше» - сказал болельщик Мексики Хавьер Веласкес.</p>
                            <p class="popup-slide__text">Он добавил, что большая часть болельщиков сборной Мексики, не сумевших приобрести билеты на стадион, все равно приехали в Ростов-на-Дону и будут поддерживать свою команду в фанзоне и местных барах.</p>
                        </div>
                        <div class="popup-slide__footer">
                            <a href="#" class="popup-slide__link">
                                <span class="text">Следующая новость</span>
                                <span class="icon">
                                    <svg width="18" height="20">
                                        <use xlink:href="#down" />
                                    </svg>
                                </span>
                            </a>
                            //= share.html
                        </div>
                    </div>
                    <div class="swiper-slide popup-slide">
                        <div class="popup-slide__img">
                            <img src="assets/images/img01-big.jpg" width="700" height="312" alt="">
                        </div>
                        <div class="popup-slide__body">
                            <tile class="popup-slide__date">14 июня, 22:15</tile>
                            <h2 class="popup-slide__title"><a href="#">Более 12 тыс. болельщиков прошли праздничным карнавалом по Ростову-на-Дону</a></h2>
                            <p class="popup-slide__text">Это просто фантастика, мы собрались все здесь, чтобы поддержать нашу сборную... что, корейцы тоже здесь? Отважные ребята! Нас тут больше 12 тыс. человек... ну и несколько корейцев. Думаю, счет сегодня будет 4:0 или больше» - сказал болельщик Мексики Хавьер Веласкес.</p>
                            <p class="popup-slide__text">Он добавил, что большая часть болельщиков сборной Мексики, не сумевших приобрести билеты на стадион, все равно приехали в Ростов-на-Дону и будут поддерживать свою команду в фанзоне и местных барах.</p>
                        </div>
                        <div class="popup-slide__footer">
                            <a href="#" class="popup-slide__link">
                                <span class="text">Следующая новость</span>
                                <span class="icon">
                                    <svg width="18" height="20">
                                        <use xlink:href="#down" />
                                    </svg>
                                </span>
                            </a>
                            //= share.html
                        </div>
                    </div>
                </div>
            </div>
            <button class="swiper-button-prev" type="button">
                <svg width="18" height="20">
                    <use xlink:href="#down" />
                </svg>
            </button>
            <button class="swiper-button-next" type="button">
                <svg width="18" height="20">
                    <use xlink:href="#down" />
                </svg>
            </button>
        </div>
        <p class="popup__label">Читайте также </p>
        <div class="popup__body news-list">
            <div class="news-list__item news-card">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img01.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">14 июня, 22:15</time>
                    <h2 class="news-card__title"><a href="#">Более 12 тыс. болельщиков прошли праздничным карнавалом по Ростову-на-Дону</a></h2>
                    <p class="news-card__text">Это просто фантастика, мы собрались все здесь, чтобы поддержать нашу сборную...</p>
                </div>
            </div>
            <div class="news-list__item news-card">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img02.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">12 июня, 20:30</time>
                    <h2 class="news-card__title"><a href="#">Московские полицейские вернули болельщице из Германии потерянный телефон</a></h2>
                    <p class="news-card__text">Сотрудники московской полиции вернули гражданке ФРГ, приехавшей в Москву на ЧМ-2018,</p>
                </div>
            </div>
            <div class="news-list__item news-card">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img03.jpg')"></a>
                <div class="news-card__body">
                    <time class="news-card__date">12 июня, 20:30</time>
                    <h2 class="news-card__title"><a href="#">Благодаря инновационной системе подогрева футбольного поля — на Лужниках будет натуральный газон</a></h2>
                    <p class="news-card__text">Система сточных вод поможет отвести воду с поля...</p>
                </div>
            </div>
            <div class="news-list__item news-card">
                <a href="#" class="news-card__image" style="background-image: url('assets/images/img04.jpg')"> </a>
                <div class="news-card__body">
                    <time class="news-card__date">22 июня, 19:45</time>
                    <h2 class="news-card__title"><a href="#">Главные красавицы 13-го дня чемпионата мира — 2018</a></h2>
                    <p class="news-card__text">Они украсили и без того красивый футбол...</p>
                </div>
            </div>
        </div>
    </div>
</div>