<section class="share">
    <div class="share-block">
        <div class="share-block__inner">
            <div class="ya-share2" data-services="facebook,twitter,vkontakte" data-title="Играют все!" data-description="Прямые трансляции матчей плей-офф для всех гостей ТРК VEGAS. А еще тут отличные скидки на модные вещи для настоящих болельщиков." data-image="http://vegas.championat.com/social.jpg" data-bare></div>
        </div>
    </div>
</section>
