<header class="page-header _dark">
    <div class="page-header__wrapper layout-positioner">
        <a href="#" class="logo">
            <svg width="100" height="17">
                <use xlink:href="#logo" />
            </svg>
        </a>
        <a href="#" class="page-header__share js-share-trigger">
            <svg width="19" height="16">
                <use xlink:href="#share" />
            </svg>
        </a>
        <section class="share _header js-share">
            <div class="share-block">
                <div class="share-block__inner">
                    <div class="ya-share2" data-services="facebook,twitter,vkontakte" data-title="Играют все!" data-description="Прямые трансляции матчей плей-офф для всех гостей ТРК VEGAS. А еще тут отличные скидки на модные вещи для настоящих болельщиков." data-image="http://vegas.championat.com/social.jpg" data-bare></div>
                </div>
            </div>
        </section>
    </div>
</header>