/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0; }
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }
    input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th, ul {
  padding: 0; }

ul {
  margin: 0; }

html {
  width: 100%;
  font-size: 0.714vw; }

html * {
  max-height: 1000000px; }

body {
  margin: 0;
  width: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5625;
  color: #000;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.overflow {
    height: 100vh;
    overflow: hidden; }
  body.scrollspy {
    position: relative; }

.global-wrapper {
  position: relative;
  min-height: 100vh; }

.layout-positioner {
  margin: 0 auto;
  padding: 0 20px; }
  @media (max-width: 780px) {
    .layout-positioner {
      padding: 0 16px; } }

.hidden {
  display: none !important; }

.invisible {
  position: absolute;
  z-index: -100;
  visibility: hidden; }

.svg-wrapper {
  position: absolute;
  opacity: 0;
  z-index: -100; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.scrollable .mCSB_scrollTools {
  width: 4px;
  margin-right: 10px; }

.scrollable .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px; }

.scrollable .mCSB_scrollTools .mCSB_draggerRail {
  background-color: rgba(255, 255, 255, 0); }

a:hover, a:focus {
  text-decoration: none; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.iScrollIndicator {
  background-color: rgba(255, 255, 255, 0) !important; }

/*!
 * fullPage 2.9.7
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
  right: 17px; }

#fp-nav.left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.bottom {
  bottom: 17px; }

.fp-slidesNav.top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

/**
 * Swiper 4.0.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * http://www.idangero.us/swiper/
 *
 * Copyright 2014-2017 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: November 13, 2017
 */
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

.swiper-invisible-blank-slide {
  visibility: hidden; }

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -moz-box-align: start;
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform; }

/* 3D Effects */
.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

/* IE10 Windows Phone 8 Fixes */
.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal > .swiper-wrapper {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical > .swiper-wrapper {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%; }

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33);
  position: relative; }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
  -ms-transform: scale(0.66);
  transform: scale(0.66); }

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
  -ms-transform: scale(0.33);
  transform: scale(0.33); }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
  transform: translate3d(0px, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 8px; }

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap; }

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform; }

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform; }

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progressbar {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #ffffff; }

.swiper-pagination-progressbar.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
  background: #ffffff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000000; }

.swiper-pagination-progressbar.swiper-pagination-black {
  background: rgba(0, 0, 0, 0.25); }

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
  background: #000000; }

/* Scrollbar */
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.swiper-slide-zoomed {
  cursor: move; }

/* Preloader */
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* a11y */
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube {
  overflow: visible; }

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-flip {
  overflow: visible; }

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-coverflow .swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px; }

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  pointer-events: none;
  z-index: 2; }
  .popup-open .page-header {
    display: none; }
  .page-header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px 34px 0; }
    @media (max-width: 780px) {
      .page-header__wrapper {
        padding: 30px;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -moz-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
    @media (max-width: 640px) {
      .page-header__wrapper {
        padding: 15px; } }
  .page-header__share {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    margin-left: auto;
    pointer-events: initial;
    width: 19px;
    height: 16px;
    position: relative; }
    .page-header__share:hover {
      opacity: 0.7; }
    @media (max-width: 780px) {
      ._dark .page-header__share {
        margin-right: 0; } }
    ._dark .page-header__share:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .page-header__share svg {
      display: block;
      width: 100%;
      height: auto;
      fill: #fff;
      -webkit-transition: fill 0.5s ease;
      transition: fill 0.5s ease;
      position: relative;
      z-index: 2; }
  .page-header__label {
    position: relative;
    top: 4px;
    margin: 0 0 0 17px;
    text-transform: uppercase;
    font-family: "PT Sans Caption", Arial, sans-serif;
    font-size: 11px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.4);
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease; }
    @media (max-width: 780px) {
      .page-header__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 22px; } }
    @media (max-width: 640px) {
      .page-header__label {
        font-size: 7px;
        line-height: 5px; } }
  .page-header._dark .logo svg,
  .page-header._dark .page-header__share svg {
    fill: #000; }
  @media (max-width: 780px) {
    .page-header._dark .page-header__share {
      position: relative;
      width: 26px;
      height: 26px;
      background-color: #fff;
      border: 1px solid #dcdddd;
      border-radius: 50%; }
      .page-header._dark .page-header__share svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 19px;
        height: 16px; } }
  .page-header._dark .page-header__label {
    color: rgba(75, 86, 101, 0.51); }
    @media (max-width: 780px) {
      .page-header._dark .page-header__label {
        display: none; } }
  @media (max-width: 780px) {
    .page-header._dark .page-header__label {
      display: block; } }

.logo {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  width: 100px;
  height: 17px;
  pointer-events: auto; }
  .logo:hover {
    opacity: 0.7; }
  @media (max-width: 780px) {
    .logo {
      width: 123px;
      height: 21px; } }
  @media (max-width: 640px) {
    .logo {
      width: 63px;
      height: 11px; } }
  .logo svg {
    display: block;
    width: 100%;
    height: auto;
    fill: #fff;
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease; }

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #0065c3;
  background-image: -webkit-linear-gradient(126deg, #0048ae 0%, #0065c3 100%);
  background-image: linear-gradient(324deg, #0048ae 0%, #0065c3 100%);
  border: 5px solid #fff; }
  .section__wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 29px;
    width: 100%;
    max-width: 1390px; }
    @media (max-width: 480px) {
      .section__wrapper {
        padding-left: 12px;
        padding-right: 12px; } }
  .section.blur {
    border: none; }
    .section.blur .section__wrapper {
      -webkit-filter: blur(20px);
      filter: blur(20px); }

.intro {
  text-align: center;
  color: #0048ae; }
  .intro .fp-scrollable,
  .intro .fp-scroller {
    height: 100%; }
  .intro .fp-scroller {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .intro__wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .intro__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-image: url("../images/illustration.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: bottom center; }
    @media (max-width: 780px) {
      .intro__bg {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url("../images/illustration-m.jpg"); } }
  .intro__img {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    padding-top: 125.51%;
    width: 24.8%;
    overflow: hidden; }
    .intro__img img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: auto; }
  .intro__content {
    position: relative;
    padding-bottom: 129px;
    z-index: 1; }
    @media (max-width: 780px) {
      .intro__content {
        padding-bottom: 150px; } }
    @media (max-width: 640px) {
      .intro__content {
        padding-bottom: 75px; } }
  .intro__label {
    margin: 0 0 12px;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    color: #425460;
    opacity: .51;
    letter-spacing: 2px; }
    @media (max-width: 780px) {
      .intro__label {
        font-size: 18px;
        line-height: 32px; } }
    @media (max-width: 640px) {
      .intro__label {
        font-size: 9px;
        line-height: 16px; } }
  .intro__title {
    margin: 0 0 20px;
    color: #0058ba;
    font-style: italic;
    font-size: 9rem;
    line-height: 10rem;
    text-transform: uppercase; }
    .intro__title .gray {
      color: #474346; }
    @media (min-width: 1400px) {
      .intro__title {
        font-size: 90px;
        line-height: 100px; } }
    @media (max-width: 780px) {
      .intro__title {
        font-size: 21.45rem;
        line-height: 21.45rem; }
        .intro__title .gray {
          display: block; } }
  .intro__text {
    margin: 0 auto;
    max-width: 550px;
    font-family: "PT Sans Caption", Arial, sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #425460; }
    @media (max-width: 780px) {
      .intro__text {
        font-size: 24px;
        line-height: 32px; } }
    @media (max-width: 640px) {
      .intro__text {
        font-size: 12px;
        line-height: 16px; } }

.scroll-link {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  bottom: 42px;
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #bebcbb;
  z-index: 1; }
  .scroll-link:hover {
    opacity: 0.7; }
  .scroll-link svg {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    fill: #1c69bf;
    -webkit-animation: scroll 1s linear infinite;
    animation: scroll 1s linear infinite; }
  @media (max-width: 780px) {
    .scroll-link {
      width: 70px;
      height: 70px; }
      .scroll-link svg {
        width: 22px;
        height: 24px; } }
  @media (max-width: 640px) {
    .scroll-link {
      bottom: 20px;
      width: 36px;
      height: 36px; }
      .scroll-link svg {
        width: 11px;
        height: 12px; } }

@-webkit-keyframes scroll {
  0% {
    margin-top: 0; }
  25% {
    margin-top: -2px; }
  50% {
    margin-top: 0; }
  75% {
    margin-top: 2px; }
  100% {
    margin-top: 0; } }

@keyframes scroll {
  0% {
    margin-top: 0; }
  25% {
    margin-top: -2px; }
  50% {
    margin-top: 0; }
  75% {
    margin-top: 2px; }
  100% {
    margin-top: 0; } }

.btn {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -moz-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px;
  min-width: 219px;
  text-align: center;
  font-family: "PT Sans Caption", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 27px; }
  .btn:focus {
    outline: none; }
  .btn:hover {
    opacity: 0.7; }
  .btn .icon {
    margin-left: 4px; }
    .btn .icon img {
      display: block; }

.share {
  margin-left: auto; }
  @media (max-width: 480px) {
    .share {
      margin-left: 0; } }
  .share._header {
    position: absolute;
    top: 15px;
    right: 55px;
    margin: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    @media (max-width: 780px) {
      .share._header {
        top: 15px;
        right: 55px; } }
    @media (max-width: 780px) {
      ._dark .share._header {
        top: 17px;
        right: 60px; } }
    @media (max-width: 640px) {
      .share._header {
        right: 28px;
        top: 4px; }
        .share._header .ya-share2__item {
          margin-right: 10px; }
        .share._header .ya-share2__link {
          width: 36px;
          height: 36px; }
        ._dark .share._header {
          top: 80px;
          right: 20px; }
          ._dark .share._header .ya-share2__list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -moz-box-orient: vertical;
            -moz-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin-right: 0; }
          ._dark .share._header .ya-share2__item {
            margin-right: 0;
            margin-bottom: 15px; }
          ._dark .share._header .ya-share2__link {
            width: 40px;
            height: 40px; } }
    @media (max-width: 640px) {
      ._dark .share._header {
        top: 60px;
        right: 8px; } }
    .share._header.show, .share._header:hover {
      opacity: 1;
      pointer-events: initial; }

.page-header._dark .ya-share2__item {
  border-radius: 50%;
  background-color: #fff; }

.ya-share2__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 15px; }
  @media (max-width: 480px) {
    .ya-share2__list {
      margin-left: 0; } }

.ya-share2__item {
  margin: 0 12px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%; }
  @media (max-width: 480px) {
    .ya-share2__item {
      margin: 0;
      margin-right: 24px; } }
  .ya-share2__item:hover {
    background-color: #e3e3e3 !important; }
  .ya-share2__item_service_vkontakte {
    background-image: url("../images/svg/vk.svg");
    -webkit-background-size: 12px 10px;
    background-size: 12px 10px; }
    @media (max-width: 780px) {
      .ya-share2__item_service_vkontakte {
        -webkit-background-size: 18px 10px;
        background-size: 18px 10px; } }
    @media (max-width: 640px) {
      .ya-share2__item_service_vkontakte {
        -webkit-background-size: 18px 10px;
        background-size: 18px 10px; } }
  .ya-share2__item_service_facebook {
    background-image: url("../images/svg/fb.svg");
    -webkit-background-size: 8px 14px;
    background-size: 8px 14px; }
    @media (max-width: 780px) {
      .ya-share2__item_service_facebook {
        -webkit-background-size: 8px 15px;
        background-size: 8px 15px; } }
    @media (max-width: 640px) {
      .ya-share2__item_service_facebook {
        -webkit-background-size: 8px 15px;
        background-size: 8px 15px; } }
  .ya-share2__item_service_twitter {
    background-image: url("../images/svg/tw.svg");
    -webkit-background-size: 12px 10px;
    background-size: 12px 10px; }
    @media (max-width: 780px) {
      .ya-share2__item_service_twitter {
        -webkit-background-size: 14px 12px;
        background-size: 14px 12px; } }
    @media (max-width: 640px) {
      .ya-share2__item_service_twitter {
        -webkit-background-size: 14px 12px;
        background-size: 14px 12px; } }

.ya-share2__link {
  display: block;
  text-decoration: none;
  width: 38px;
  height: 38px;
  border: 1px solid #e3e3e3;
  border-radius: 50%; }
  @media (max-width: 768px) {
    .ya-share2__link {
      width: 50px;
      height: 50px; } }
  @media (max-width: 480px) {
    .ya-share2__link {
      width: 40px;
      height: 40px; } }

.page-header .ya-share2__item_service_vkontakte {
  background-image: url("../images/svg/vk-w.svg"); }

.page-header .ya-share2__item_service_facebook {
  background-image: url("../images/svg/fb-w.svg"); }

.page-header .ya-share2__item_service_twitter {
  background-image: url("../images/svg/tw-w.svg"); }

.page-header .ya-share2__link {
  border-color: #e3e3e3; }

.page-header._dark .ya-share2__item_service_vkontakte {
  background-image: url("../images/svg/vk.svg"); }

.page-header._dark .ya-share2__item_service_facebook {
  background-image: url("../images/svg/fb.svg"); }

.page-header._dark .ya-share2__item_service_twitter {
  background-image: url("../images/svg/tw.svg"); }

.page-header._dark .ya-share2__link {
  border-color: rgba(75, 86, 101, 0.51); }

.sorting {
  position: relative;
  margin: 25px auto 128px;
  z-index: 1000; }
  @media (max-width: 1280px) {
    .sorting {
      margin-left: 240px;
      width: 200px; }
      .sorting.opened {
        background-color: #fff;
        border-radius: 25px 25px 0 0; }
        .sorting.opened .sorting-form {
          max-height: 10000px; }
        .sorting.opened .sorting__label {
          color: #7c8b9a;
          border-bottom: 1px solid #d6d6d5; }
          .sorting.opened .sorting__label:before {
            margin-top: 4px;
            -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
            border-color: #7c8b9a; } }
        @media (max-width: 1280px) and (max-width: 640px) {
          .sorting.opened .sorting__label:before {
            margin-top: 2px; } }
  @media (max-width: 1280px) {
    .sorting {
      margin-left: auto;
      margin-right: auto;
      margin-top: 93px;
      width: 346px;
      border: 2px solid #fff;
      border-radius: 32px; } }
  @media (max-width: 780px) {
    .sorting {
      margin-bottom: 86px; } }
  @media (max-width: 640px) {
    .sorting {
      margin-bottom: 61px;
      margin-top: 55px;
      max-width: 100%;
      border: 1px solid #fff;
      border-radius: 20px;
      min-width: 125px;
      width: auto; }
      .sorting.opened {
        border-radius: 20px 20px 0 0; } }
  .sorting__label {
    position: relative;
    display: none;
    margin: 0;
    padding: 19px 30px;
    padding-left: 90px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-family: "PT Sans Caption", Arial, sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    cursor: pointer; }
    .sorting__label:before {
      content: "";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: -4px;
      right: 90px;
      width: 13px;
      height: 13px;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      -webkit-transform: translateY(-50%) rotate(-135deg);
      -ms-transform: translateY(-50%) rotate(-135deg);
      transform: translateY(-50%) rotate(-135deg);
      pointer-events: none; }
      @media (max-width: 640px) {
        .sorting__label:before {
          margin-top: -2px;
          right: 22px;
          width: 8px;
          height: 8px;
          border-width: 1px; } }
    @media (max-width: 1280px) {
      .sorting__label {
        display: block; } }
    @media (max-width: 640px) {
      .sorting__label {
        padding: 10px 15px;
        font-size: 10px;
        line-height: 12px; } }

.sorting-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 1280px) {
    .sorting-form {
      position: absolute;
      top: 100%;
      left: -2px;
      right: -2px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -moz-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      width: -webkit-calc(100% + 4px);
      width: calc(100% + 4px);
      max-height: 0;
      background-color: #fff;
      border-radius: 0 0 27px 27px;
      overflow: hidden;
      -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.21);
      box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.21); }
      .opened .sorting-form {
        padding-bottom: 30px; } }
  @media (max-width: 640px) {
    .sorting-form {
      left: -1px;
      right: -1px;
      width: -webkit-calc(100% + 2px);
      width: calc(100% + 2px); }
      .opened .sorting-form {
        padding-bottom: 15px; } }
  .sorting-form .form__label {
    margin: 0 22px; }
    @media (max-width: 1280px) {
      .sorting-form .form__label {
        font-size: 22px;
        line-height: 25px;
        color: #0048ae;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 21px 30px;
        padding-left: 90px;
        width: 100%;
        border-bottom: 1px solid #d6d6d5; }
        .sorting-form .form__label:before {
          left: 45px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 22px;
          height: 22px; } }
    @media (max-width: 640px) {
      .sorting-form .form__label {
        font-size: 11px;
        line-height: 14px;
        padding: 10px 15px;
        padding-left: 45px; }
        .sorting-form .form__label:before {
          left: 15px;
          width: 12px;
          height: 12px; }
        .sorting-form .form__label:after {
          top: 13px;
          left: 14px;
          width: 16px;
          height: 11px; } }
  @media (max-width: 1280px) {
    .sorting-form input[type="checkbox"]:checked + label:before, .sorting-form input[type="radio"]:checked + label:before {
      border-color: #0048ae; } }
  @media (max-width: 1280px) {
    .sorting-form input[type="checkbox"]:checked + label:after, .sorting-form input[type="radio"]:checked + label:after {
      top: 28px;
      left: 48px;
      background-image: url("../images/svg/check-blue.svg"); } }
  @media (max-width: 640px) {
    .sorting-form input[type="checkbox"]:checked + label:after, .sorting-form input[type="radio"]:checked + label:after {
      top: 13px;
      left: 14px; } }

.form__label {
  position: relative;
  padding-left: 30px;
  font-family: "PT Sans Caption", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  cursor: pointer; }
  @media (max-width: 1280px) {
    .form__label {
      display: block;
      margin-bottom: 20px;
      color: #000; } }
  .form__label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px dotted #fff;
    border-radius: 50%; }
    @media (max-width: 1280px) {
      .form__label:before {
        border-color: #000; } }
  .form__label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 18px;
    height: 14px;
    background-image: url("../images/svg/check.svg");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    background-position: center;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    @media (max-width: 1280px) {
      .form__label:after {
        background-image: url("../images/svg/check-b.svg"); } }

.form input[type="checkbox"]:checked + label:before, .form input[type="radio"]:checked + label:before {
  border-style: solid; }

.form input[type="checkbox"]:checked + label:after, .form input[type="radio"]:checked + label:after {
  opacity: 1; }

.news {
  position: relative; }
  .news__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 60px;
    max-width: 100%; }
    @media (max-width: 780px) {
      .news__wrapper {
        padding: 0 55px 20px; } }
    @media (max-width: 640px) {
      .news__wrapper {
        padding: 0 20px 20px; } }
  .news__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 75px 0 0;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    font-size: 12.135rem;
    line-height: 13rem;
    color: rgba(255, 255, 255, 0.27); }
    .news__title .gray {
      color: rgba(71, 67, 70, 0.4); }
    @media (min-width: 1400px) {
      .news__title {
        font-size: 121.35px;
        line-height: 130px; } }
    @media (max-width: 1280px) {
      .news__title {
        margin-top: 170px;
        font-size: 18rem;
        line-height: 19rem; } }
    @media (max-width: 480px) {
      .news__title {
        margin-top: 105px; } }
  .news__body {
    position: relative;
    margin-bottom: 40px; }

.news-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 100%; }
  .news-list.popup__body {
    position: relative;
    z-index: 11;
    padding: 0 13px 0 29px; }
    @media (max-width: 780px) {
      .news-list.popup__body {
        padding: 0; } }
  .news-list__item {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0 16px 25px;
    width: -webkit-calc(25% - 32px);
    width: calc(25% - 32px); }
    @media (max-width: 1280px) {
      .news-list__item {
        width: -webkit-calc(33.333333% - 32px);
        width: calc(33.333333% - 32px); } }
    @media (max-width: 1024px) {
      .news-list__item {
        width: -webkit-calc(50% - 32px);
        width: calc(50% - 32px); } }
    @media (max-width: 780px) {
      .news-list__item {
        width: -webkit-calc(100% - 32px);
        width: calc(100% - 32px); } }
    @media (max-width: 640px) {
      .news-list__item {
        margin-left: 0;
        margin-right: 0;
        width: 100%; } }

.news-card {
  background-color: #fff;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }
  .news-card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .news-card__image {
    position: relative;
    display: block;
    padding-top: 62.126%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }
    .news-card__image img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: auto; }
  .news-card__body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 20px 20px;
    min-height: 203px;
    background-color: #fff; }
    @media (max-width: 780px) {
      .news-card__body {
        padding: 25px 42px 30px; } }
    @media (max-width: 640px) {
      .news-card__body {
        padding: 13px 21px 15px; } }
  .news-card__date {
    margin: 0 0 8px;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #8c8c8c; }
    @media (max-width: 780px) {
      .news-card__date {
        font-size: 21px;
        line-height: 30px; } }
    @media (max-width: 640px) {
      .news-card__date {
        font-size: 11px;
        line-height: 15px; } }
  .news-card__title {
    margin: 0 0 6px 0;
    font-size: 18px;
    line-height: 24px; }
    @media (max-width: 780px) {
      .news-card__title {
        font-size: 31px;
        line-height: 42px; } }
    @media (max-width: 640px) {
      .news-card__title {
        font-size: 16px;
        line-height: 22px; } }
    .news-card__title a {
      color: #000; }
  .news-card__text {
    margin: 0;
    max-height: 66px;
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media (max-width: 780px) {
      .news-card__text {
        font-size: 28px;
        line-height: 38px;
        max-height: 114px; } }
    @media (max-width: 640px) {
      .news-card__text {
        font-size: 14px;
        line-height: 19px;
        max-height: 57px; } }
  .news-card._upload {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
    @media (max-width: 780px) {
      .news-card._upload {
        display: none !important; } }

.upload-form__descr {
  margin: 0 auto;
  max-width: 190px;
  text-align: center;
  font-size: 15.54px;
  line-height: 20px;
  color: #004f71; }

.upload-block {
  position: relative;
  margin: 0 auto 10px;
  max-width: 210px; }
  .upload-block:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 50%;
    margin-right: -20px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 1; }
  .upload-block__field {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    opacity: 0;
    cursor: pointer; }
    .upload-block__field:hover + div {
      opacity: 0.7; }
  .upload-block__link {
    text-align: center;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #009edd;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .upload-block__icon {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    width: 40px;
    height: 40px;
    border: 2px solid #009edd;
    border-radius: 50%; }
    .upload-block__icon:before, .upload-block__icon:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-color: #009edd; }
    .upload-block__icon:before {
      width: 17px;
      height: 2px; }
    .upload-block__icon:after {
      width: 2px;
      height: 17px; }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: -40px;
  bottom: 0;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  overflow-y: scroll; }
  @media (max-width: 768px) {
    .popup {
      right: 0;
      padding-right: 0; } }
  @media (max-width: 640px) {
    .popup {
      bottom: auto;
      max-height: 100vh; } }
  .popup.show {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000; }
  .popup__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    max-width: 100%; }
    @media (max-width: 1280px) {
      .popup__inner {
        margin-right: 0; } }
  .popup__close {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 42px;
    right: 58px;
    width: 20px;
    height: 20px;
    z-index: 1001; }
    .popup__close:focus {
      outline: none; }
    .popup__close:hover {
      opacity: 0.7; }
    .popup__close svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: #fff; }
    @media (max-width: 768px) {
      .popup__close {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        top: 33px;
        right: 27px;
        width: 52px;
        height: 52px;
        background-color: #fff;
        border-radius: 50%; }
        .popup__close svg {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          fill: #000; } }
    @media (max-width: 640px) {
      .popup__close {
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px; }
        .popup__close svg {
          width: 12px;
          height: 12px; } }
  .popup__label {
    margin: 38px auto 28px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 38px;
    color: #fff; }

.popup-slider-wrapper {
  position: relative;
  width: 100%; }
  @media (max-width: 768px) {
    .popup-slider-wrapper {
      border: 6px solid #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }
  .popup-slider-wrapper .swiper-button-prev,
  .popup-slider-wrapper .swiper-button-next {
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    width: 18px;
    height: 20px;
    background-image: none;
    position: fixed; }
    .popup-slider-wrapper .swiper-button-prev:focus,
    .popup-slider-wrapper .swiper-button-next:focus {
      outline: none; }
    @media (max-width: 768px) {
      .popup-slider-wrapper .swiper-button-prev,
      .popup-slider-wrapper .swiper-button-next {
        opacity: 0;
        pointer-events: none; } }
    .popup-slider-wrapper .swiper-button-prev svg,
    .popup-slider-wrapper .swiper-button-next svg {
      display: block;
      fill: #fff; }
  .popup-slider-wrapper .swiper-button-prev {
    left: 47px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  .popup-slider-wrapper .swiper-button-next {
    right: 47px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.popup-slider {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  background-color: #fff; }
  @media (max-width: 768px) {
    .popup-slider {
      margin-top: 0;
      max-width: 100%; } }

.popup-slide__body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 70px 0; }
  @media (max-width: 480px) {
    .popup-slide__body {
      padding: 20px 20px 0; } }
  .popup-slide__body a {
    color: #0049af;
    word-wrap: break-word; }

.popup-slide__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 70px 35px; }
  @media (max-width: 480px) {
    .popup-slide__footer {
      padding: 0 20px 35px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -moz-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.popup-slide__date {
  font-style: italic;
  font-size: 14.72px;
  line-height: 22px;
  color: #8c8c8c; }

.popup-slide__title {
  margin: 0 0 13px;
  font-size: 22px;
  line-height: 29px; }
  .popup-slide__title a {
    color: #000; }

.popup-slide__text {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 24px; }

.popup-slide__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  color: #000; }
  .popup-slide__link:hover {
    opacity: 0.7; }
  @media (max-width: 480px) {
    .popup-slide__link {
      margin-bottom: 20px; } }
  .popup-slide__link .icon {
    display: block;
    margin-left: 15px; }
    .popup-slide__link .icon svg {
      display: block;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      fill: #0049af; }

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
