.page-header
    position: absolute
    top: 0
    left: 0
    right: 0
    box-sizing: border-box
    width: 100%
    pointer-events: none
    z-index: 2

    .popup-open &
        display: none

    &__wrapper 
        display: flex
        align-items: center
        padding: 24px 34px 0

        @media (max-width: $screenXS)
            padding: 30px
            align-items: flex-start

        @media (max-width: $screenXXS)
            padding: 15px

    &__share 
        @include hover
        margin-left: auto
        pointer-events: initial
        width: 19px
        height: 16px
        position: relative

        //@media (max-width: 780px)
            margin-right: -10px

        ._dark &
            @media (max-width: 780px)
                margin-right: 0

            &:after
                content: ''
                position: absolute
                top: 50%
                left: 50%
                width: 34px
                height: 34px
                border-radius: 50%
                background-color: #fff
                transform: translate(-50%, -50%)

        svg 
            display: block
            width: 100%
            height: auto
            fill: #fff 
            transition: fill 0.5s ease
            position: relative
            z-index: 2

    &__label 
        position: relative
        top: 4px
        margin: 0 0 0 17px
        text-transform: uppercase
        font-family: $font-alt 
        font-size: 11px
        line-height: 17px
        color: rgba(255, 255, 255, 0.4)
        transition: color 0.5s ease

        @media (max-width: $screenXS)
            font-weight: 700
            font-size: 14px
            line-height: 22px

        @media (max-width: $screenXXS)
            font-size: 7px
            line-height: 5px

    &._dark 

        .logo svg,
        .page-header__share svg 
            fill: #000

        .page-header__share

            @media (max-width: $screenXS)
                position: relative
                width: 26px
                height: 26px
                background-color: #fff
                border: 1px solid #dcdddd
                border-radius: 50%

                svg
                    @include center
                    width: 19px
                    height: 16px

        .page-header__label 
            color: rgba(75, 86, 101, 0.51)

            @media (max-width: $screenXS)
                display: none

        @media (max-width: 780px)

            .page-header__label
                display: block

.logo 
    @include hover
    width: 100px
    height: 17px
    pointer-events: auto

    @media (max-width: $screenXS)
        width: 123px
        height: 21px

    @media (max-width: $screenXXS)
        width: 63px
        height: 11px

    svg 
        display: block
        width: 100%
        height: auto
        fill: #fff
        transition: fill 0.5s ease